.cover-container{
    text-align: left;
}

.cover-details-name{
    font-size: 25px;
    margin-left: 5%;
    
}
.primary-text{
    color: blanchedalmond;
    font-size: 50px;
}
.cover-role h1 {
    color: tomato;
    margin-left: 35px;
   
 }
.highlighted-text{
    color: thistle;
    text-align: left;
}
.cover-tagline{
    color: white;
   
   margin-left: 35px;
   
}

.cover-options:hover{
    margin: 0 0 0 29px;
    background-color: cornsilk;
    color: black;
}
.profile-picture{
     box-shadow: 0px 1px 0px 0px tomato;
     border-radius: 25%;
     height: 350px;
     width: 350px;
}

.picture-background{
    height: 92%;
    width: 92%;
    background-image: url('../../../images/profile-photo.jpg');
    background-size: cover;
    border-radius: 25%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 0 0 20px;
}

.picture-background:hover{
    transform: scale(1.06);
    transition: 1s ease-in-out; 
}
.icons{
    margin: 15px;
}
.cover-icons , .resume-btn Button{
    color: white;
    margin-left: 35px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: steelblue;
    border-radius: 5px;
    margin-left: 22px;

}

.cover-icons i:hover{
    transform: scale(1.5);
}
.icons-grid{
    display: flex;
    justify-content: lef;
    align-items: left;
}