.cover-container{
    text-align: left;
    margin-bottom: 25px;
}
.cover-role{
    margin-left: 5%;
    line-height: 25px;
}
.cover-details-name{
    font-size: 25px;
    margin-left: 5%;
    
}
.primary-text{
    font-size: 25px;
}
  
.highlighted-text{
    letter-spacing: 10px;
    font-size: 40px;
    text-align: left;
}
.cover-tagline{  
    margin-top:55px ;  
}

.cover-options:hover{
    margin: 0 0 0 29px;
    background-color: cornsilk;
    color: black;
}
.profile-picture {
     box-shadow: 0px 1px 0px 0px gray;
     border-radius: 25%;
     height: 350px;
     width: 350px;
}

.picture-background{
    height: 72%;
    width: 72%;
    background-image: url('../../../images/profile-photo.jpg');
    background-size: cover;
    border-radius: 20%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px 50px;
}

.picture-background:hover{
    transform: scale(1.06);
    transition: 1s ease-in-out; 
}

.grid-btn{
    margin-left: -10px;
}
.grid-btn button{
    border-radius: 15px;
    padding: 10px 18px;
    margin: 10px ;
    background-color: #28a745;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.skills-title{
    display: flex;
    margin-left: 5%;
    justify-content:start;
}
.skills-title li{
    padding-right: 5%;
}