.project-container{
    margin: 50px 0px;
}
.project-container h1{
    font-size: 60px;
    color: beige;
    margin: 50px auto;
}

.card-img{
    border-radius: 15px;
    margin-bottom: 10px;
}

.project-card{
    border-radius: 10px;
    border: 1px solid gray;
    margin: 15px;
    padding: 20px;
    height: 450px;
   
}
.border-card{
    text-align: left;
    
}
.project-btn{
    padding: 10px 30px;
    background-image: linear-gradient(#28a745,#28a7467e);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    
}

