.project-container{
    margin: 50px 0px;
   
}

.project-card:hover{
    transform: scale(.9);
    transition: ease-in-out;
}

.project-card{
    padding: 20px;
}
.project-btn{
    padding: 10px 30px;
    background-image: linear-gradient(goldenrod , tomato);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}