.link-btn {
    height: 50px;
    width:150px;
    margin: 15px;
    cursor: pointer;
    border: 0px solid;
    border-radius: 15px;
    font-weight: 700;
    font-size: 15px;
    background-image:linear-gradient(tomato,rgba(111, 156, 81, 0.377));
}
.link-btn a:hover{
    box-shadow: 5px 5px 5px 5px #fff;
}
