.skills span {
    color: blanchedalmond;
    padding: 3px 10px;
    margin: 5px;
    background-color: black;
    border-radius: 5px;
}
.hor-div{
    width: 75%;
    border: 1px solid rgba(128, 128, 128, 0.368);
    margin-left: 25%;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.skill-img{
    width: 95px;
    text-align: center;
    }
.skill-img Typography{
    font-size: 15px;
    font-weight: 900;

}
.skill-img img{
    width: 60px;
    height: 60px;
}

